@import url(https://fonts.googleapis.com/css?family=Poppins:100,100,italics,200,200italics,300,300italics,400,400);

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif, "Open Sans"
}

html, body 
{
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;